Repository rapid7/insightconnect-plugins, pull requests merged in 2020-06, with the labels that each got.

#527 New plugin Cylance Protect with two action: Blacklist and Get Agent Details
  cylance_protect/.CHECKSUM
  cylance_protect/.dockerignore
  cylance_protect/Dockerfile
  cylance_protect/Makefile
  cylance_protect/bin/icon_cylance_protect
  cylance_protect/extension.png
  cylance_protect/help.md
  cylance_protect/icon.png
  cylance_protect/icon_cylance_protect/__init__.py
  cylance_protect/icon_cylance_protect/actions/__init__.py
  cylance_protect/icon_cylance_protect/actions/blacklist/__init__.py
  cylance_protect/icon_cylance_protect/actions/blacklist/action.py
  cylance_protect/icon_cylance_protect/actions/blacklist/schema.py
  cylance_protect/icon_cylance_protect/actions/get_agent_details/__init__.py
  cylance_protect/icon_cylance_protect/actions/get_agent_details/action.py
  cylance_protect/icon_cylance_protect/actions/get_agent_details/schema.py
  cylance_protect/icon_cylance_protect/connection/__init__.py
  cylance_protect/icon_cylance_protect/connection/connection.py
  cylance_protect/icon_cylance_protect/connection/schema.py
  cylance_protect/icon_cylance_protect/triggers/__init__.py
  cylance_protect/icon_cylance_protect/util/__init__.py
  cylance_protect/icon_cylance_protect/util/api.py
  cylance_protect/plugin.spec.yaml
  cylance_protect/requirements.txt
  cylance_protect/setup.py
Labels: Needs Icon

#528 SOAR-1224 SEP Get Agent Details
  symantec_endpoint_security/.CHECKSUM
  symantec_endpoint_security/bin/icon_symantec_endpoint_security
  symantec_endpoint_security/help.md
  symantec_endpoint_security/icon_symantec_endpoint_security/actions/__init__.py
  symantec_endpoint_security/icon_symantec_endpoint_security/actions/get_agent_details/__init__.py
  symantec_endpoint_security/icon_symantec_endpoint_security/actions/get_agent_details/action.py
  symantec_endpoint_security/icon_symantec_endpoint_security/actions/get_agent_details/schema.py
  symantec_endpoint_security/icon_symantec_endpoint_security/connection/connection.py
  symantec_endpoint_security/icon_symantec_endpoint_security/connection/schema.py
  symantec_endpoint_security/icon_symantec_endpoint_security/util/api.py
  symantec_endpoint_security/plugin.spec.yaml
  symantec_endpoint_security/setup.py
Labels: Work in Progress

#532 New Plugin Microsoft Intune with 1 action - Antivirus Scan
  microsoft_intune/.CHECKSUM
  microsoft_intune/.dockerignore
  microsoft_intune/Dockerfile
  microsoft_intune/Makefile
  microsoft_intune/bin/icon_microsoft_intune
  microsoft_intune/extension.png
  microsoft_intune/help.md
  microsoft_intune/icon.png
  microsoft_intune/icon_microsoft_intune/__init__.py
  microsoft_intune/icon_microsoft_intune/actions/__init__.py
  microsoft_intune/icon_microsoft_intune/actions/antivirus_scan/__init__.py
  microsoft_intune/icon_microsoft_intune/actions/antivirus_scan/action.py
  microsoft_intune/icon_microsoft_intune/actions/antivirus_scan/schema.py
  microsoft_intune/icon_microsoft_intune/connection/__init__.py
  microsoft_intune/icon_microsoft_intune/connection/connection.py
  microsoft_intune/icon_microsoft_intune/connection/schema.py
  microsoft_intune/icon_microsoft_intune/triggers/__init__.py
  microsoft_intune/icon_microsoft_intune/util/__init__.py
  microsoft_intune/icon_microsoft_intune/util/api.py
  microsoft_intune/plugin.spec.yaml
  microsoft_intune/requirements.txt
  microsoft_intune/setup.py
Labels: Needs Icon

#533 New plugin SonicWall with action add address object to group
  sonicwall/.CHECKSUM
  sonicwall/.dockerignore
  sonicwall/Dockerfile
  sonicwall/Makefile
  sonicwall/bin/icon_sonicwall
  sonicwall/extension.png
  sonicwall/help.md
  sonicwall/icon.png
  sonicwall/icon_sonicwall/__init__.py
  sonicwall/icon_sonicwall/actions/__init__.py
  sonicwall/icon_sonicwall/actions/add_address_object_to_group/__init__.py
  sonicwall/icon_sonicwall/actions/add_address_object_to_group/action.py
  sonicwall/icon_sonicwall/actions/add_address_object_to_group/schema.py
  sonicwall/icon_sonicwall/connection/__init__.py
  sonicwall/icon_sonicwall/connection/connection.py
  sonicwall/icon_sonicwall/connection/schema.py
  sonicwall/icon_sonicwall/triggers/__init__.py
  sonicwall/icon_sonicwall/util/__init__.py
  sonicwall/icon_sonicwall/util/api.py
  sonicwall/icon_sonicwall/util/util.py
  sonicwall/plugin.spec.yaml
  sonicwall/requirements.txt
  sonicwall/setup.py
Labels: Needs Icon

#547 New plugin McAfee ATD with one action to check hash status
  mcafee_atd/.CHECKSUM
  mcafee_atd/.dockerignore
  mcafee_atd/Dockerfile
  mcafee_atd/Makefile
  mcafee_atd/bin/icon_mcafee_atd
  mcafee_atd/help.md
  mcafee_atd/icon_mcafee_atd/__init__.py
  mcafee_atd/icon_mcafee_atd/actions/__init__.py
  mcafee_atd/icon_mcafee_atd/actions/submit_hash/__init__.py
  mcafee_atd/icon_mcafee_atd/actions/submit_hash/action.py
  mcafee_atd/icon_mcafee_atd/actions/submit_hash/schema.py
  mcafee_atd/icon_mcafee_atd/connection/__init__.py
  mcafee_atd/icon_mcafee_atd/connection/connection.py
  mcafee_atd/icon_mcafee_atd/connection/schema.py
  mcafee_atd/icon_mcafee_atd/triggers/__init__.py
  mcafee_atd/icon_mcafee_atd/util/__init__.py
  mcafee_atd/icon_mcafee_atd/util/api.py
  mcafee_atd/icon_mcafee_atd/util/mcafee_request.py
  mcafee_atd/plugin.spec.yaml
  mcafee_atd/requirements.txt
  mcafee_atd/setup.py
Labels: Needs Icon

#523 SOAR-1490: Rebrand Carbon Black Plugins
  carbon_black_defense/.CHECKSUM
  carbon_black_defense/bin/komand_carbon_black_defense
  carbon_black_defense/help.md
  carbon_black_defense/plugin.spec.yaml
  carbon_black_defense/setup.py
  carbon_black_live_response/.CHECKSUM
  carbon_black_live_response/bin/komand_carbon_black_live_response
  carbon_black_live_response/help.md
  carbon_black_live_response/komand_carbon_black_live_response/connection/schema.py
  carbon_black_live_response/plugin.spec.yaml
  carbon_black_live_response/setup.py
  carbon_black_protection/.CHECKSUM
  carbon_black_protection/bin/komand_carbon_black_protection
  carbon_black_protection/help.md
  carbon_black_protection/plugin.spec.yaml
  carbon_black_protection/setup.py
  carbon_black_response/.CHECKSUM
  carbon_black_response/bin/komand_carbon_black_response
  carbon_black_response/help.md
  carbon_black_response/plugin.spec.yaml
  carbon_black_response/setup.py
Labels: Do Not Merge, Work in Progress, enhancement

#487 Fix actions to reflect Jira Cloud API changes and update connection schema
  __init__.py
  jira/.CHECKSUM
  jira/bin/komand_jira
  jira/help.md
  jira/komand_jira/actions/attach_issue/action.py
  jira/komand_jira/actions/create_issue/action.py
  jira/komand_jira/actions/create_user/action.py
  jira/komand_jira/actions/create_user/schema.py
  jira/komand_jira/actions/delete_user/action.py
  jira/komand_jira/actions/delete_user/schema.py
  jira/komand_jira/actions/find_issues/action.py
  jira/komand_jira/actions/find_users/action.py
  jira/komand_jira/actions/find_users/schema.py
  jira/komand_jira/actions/get_comments/action.py
  jira/komand_jira/actions/get_comments/schema.py
  jira/komand_jira/actions/get_issue/action.py
  jira/komand_jira/connection/connection.py
  jira/komand_jira/connection/schema.py
  jira/komand_jira/triggers/new_issue/trigger.py
  jira/komand_jira/util/__init__.py
  jira/komand_jira/util/api.py
  jira/komand_jira/util/util.py
  jira/plugin.spec.yaml
  jira/setup.py
Labels: Waiting on User Validation

#561 Invanti Security Controls - Updated Start Scan Action
  ivanti_security_controls/.CHECKSUM
  ivanti_security_controls/bin/icon_ivanti_security_controls
  ivanti_security_controls/help.md
  ivanti_security_controls/icon_ivanti_security_controls/actions/start_patch_scan/action.py
  ivanti_security_controls/icon_ivanti_security_controls/util/api.py
  ivanti_security_controls/plugin.spec.yaml
  ivanti_security_controls/requirements.txt
  ivanti_security_controls/setup.py
Labels: Needs Icon
